
<form action= "/venues/<%= venue.id %>/edit-venue" method="POST" >
    <div class="field">
      <label for="name"> Name </label>
      <input type="text" name="name" id="name" value="<%= venue.name %>" />
    </div>
    <div class="field">
        <label for="about"> About </label>
        <input type="text" name="about" id="about"  value="<%= venue.about %>" />
    </div>
    <div class="field">
        <label for="location"> Location </label>
        <input type="text" name="location" id="location"  value="<%= venue.location %>" />
    </div>
    <div class="field">
        <label for="size"> Size </label>
        <input type="text" name="size" id="size"  value="<%= venue.size %>" />
    </div>
    <div class="field control">
        <button class="btn btn-dark">Submit</button>
    </div>
</form>

<a href ='/venues/'> <button>Go back to list</button></a>