<h2>Venue Details</h2>
<ul>
    <li class="venue-details">
        <p class="item">
            <%= name %>
            <%= owner %>
        </p>
    </li>
</ul>

<h2>Request Booking</h2>

<form action= "/venues/<%= id %>" method="POST" >
    <div class="field">
      <label for="name"> Name </label>
      <input type="text" name="name" id="name">

      <label for="contact"> Contact </label>
      <input type="text" name="contact" id="contact">

      <label for="description"> Description </label>
      <input type="text" name="description" id="description">
    </div>

    <div class="field control">
        <button class="btn submit">Submit</button>
    </div>

    <% if (owner === user) { %>
        <p class="">
          <a href="/venues/<%= id %>/edit-venue"><button>Edit Venue</button></a>
        </p>
      <% } %>

    <% if (typeof message !== 'undefined') { %>
        <p class="error"><%= message %></p>
      <% } %>
</form>