<h2>Venue Details</h2>
<ul>
    <li class="venue-details">
        <p class="item">
            <%= venue.name %> by owner
            <%= venue.owner %>
            <p><%= venue.about %></p>
            <p><%= venue.location %></p> 
            <p><%= venue.size %></p>
        </p>
    </li>
</ul>

<% if (venue.owner === user) { %>
    
    <% if (venue.requests !== null) { %>
        <h2>Bands Requesting to book Your Place</h2>
        <% venue.requests.forEach( (request) => { %>
            <h3><%= request.name %></h3>
            <p>Contact: <%= request.contact %></p>
            <p>Description: <%= request.description %></p>
        <% }) %>
    <% } %>

    <a class="btn" href="/venues/<%= venue.id %>/edit-venue">Edit Venue</a>
    <form action="/venues/<%= venue.id %>/delete-venue" method="POST">
        <button class="btn delete">delete</button>
    </form>    
<% } %>  

<% if (!user) { %>

<h2>Request Booking</h2>

<form action= "/venues/<%= venue.id %>" method="POST" >
    <div class="field">
        <label for="name"> Name </label>
        <input type="text" name="name" id="name">
    </div>

    <div class="field">
        <label for="contact"> Contact </label>
        <input type="text" name="contact" id="contact">
    </div>
    
    <div class="field">
        <label for="description"> Description </label>
        <input type="text" name="description" id="description">
    </div>

    <div class="field control">
        <button class="btn submit">Submit</button>
    </div>
    
    <% if (typeof message !== 'undefined') { %>
        <p class="error"><%= message %></p>
    <% } %>
</form>
<% } %>


